@font-face {
    font-family: 'Brittany';
    src: url('fonts/Brittany.ttf');
}
.carousel-item img{
    height: 400px;
    object-fit: cover;
}
.navbar {
    background-color: #d1b586;
}
footer{
    background-color: #d1b586;
}
body {
    background-color: #fffaf1;
    font-family: 'Times New Roman', Times, serif;
}
.carousel {
    border-radius: 20px;
    overflow: hidden;
}
.titulo-encantado {
    font-family: 'Brittany', sans-serif;
    font-size: 50px;
    color: #d1b586;
}
.nome-empresa{
    font-size: 50px;
    font-family: 'Brittany', sans-serif;
    color: #fffaf1;
}

.titulo-borda {
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.35);
}
.central-esquerda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}
