@font-face {
    font-family: 'Brittany';
    src: url('fonts/Brittany.ttf');
}
.navbar {
    background-color: #d1b586;
}
footer{
    background-color: #d1b586;
}
body {
    background-color: #fffaf1;
    font-family: 'Times New Roman', Times, serif;
}
.nome-empresa{
    font-size: 50px;
    font-family: 'Brittany', sans-serif;
    color: #fffaf1;
}
