@font-face {
    font-family: 'Brittany';
    src: url('fonts/Brittany.ttf');
}
@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Thin.ttf');
}
/* NaV */
.nav-premium {
    background: linear-gradient(
        90deg,
        #fffaf1 0%,
        #f7e7c6 50%,
        #d1b586 100%
    );

    border-bottom: 2px solid #d1b586;

    box-shadow:
    0 4px 10px rgba(0,0,0,0.08);

    padding: 14px 30px;
}

.nav-premium .navbar-brand {
    color: #6b4328;

    font-weight: 700;

    text-shadow:
    0 1px 2px rgba(255,255,255,0.20);
}

.nav-premium .nav-link {
    color: #6b4328;

    font-size: 1rem;
    font-weight: 500;

    margin-left: 18px;

    transition: 0.3s ease;
}

.nav-premium .nav-link:hover {
    color: #b8863b;
}
/* FOOTER */
.footer-premium {
    background: linear-gradient(135deg, #c38b2d, #5a3923);
    border-top: 3px solid #c38b2d;
    box-shadow: 0 -4px 15px rgba(0,0,0,0.15);
    border-radius: 25px 25px 0 0;
    padding: 50px 20px;
    color: white;
    text-align: center;
}

.footer-premium h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #f5d7a1;

    text-shadow:
    0 2px 5px rgba(0,0,0,0.30);
}

.footer-premium p {
    font-size: 1.1rem;
    margin-bottom: 10px;

    text-shadow:
    0 1px 3px rgba(0,0,0,0.25);
}
.navbar {
    background-color: #d1b586;
}
.nome-empresa{
    font-size: 50px;
    font-family: 'Brittany', sans-serif;
    color: #fffaf1;
}
footer{
    background-color: #d1b586;
}
body {
    background-color: #fdfaf5;
    font-family: 'Times New Roman', Times, serif;
}
.form-check-input :hover{
    color: #c38b2d;
    background-color: #5a3923;
}

 .rating {
    float:left;
    border:none;
}
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0, 0, 0, 0);
}
.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
}
.rating:not(:checked) > label:before {
    content:'★ ';
}
.rating > input:checked ~ label {
    color: #c0892d;
}
.rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label {
    color: #d3b789;
}
.rating > input:checked + label:hover, .rating > input:checked + label:hover ~ label, .rating > input:checked ~ label:hover, .rating > input:checked ~ label:hover ~ label, .rating > label:hover ~ input:checked ~ label {
    color: #d3b789;
}
.rating > label:active {
    position:relative;
}
.btn-primary:hover {
  color: black;
  background-color:#d3b789;
  border-color: #d3b789;
}
.btn-primary {
    color: white;
    background-color: #c0892d;
    border-color: #c0892d;
}
.card-img {
    width: 90px;
    height: 90px;
}