@font-face {
    font-family: 'Brittany';
    src: url('fonts/Brittany.ttf');
}
.navbar {
    background-color: #d1b586;
}
footer{
    background-color: #d1b586;
}
body {
    background-color: #fffaf1;
    font-family: 'Times New Roman', Times, serif;
}
.nome-empresa{
    font-size: 50px;
    font-family: 'Brittany', sans-serif;
    color: #fffaf1;
}
a.btn {
    transition: 0.3s;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    color: #fffaf1;
}
a.btn:hover {
    background-color: #25D366;
    
}
.titulo-borda {
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.35);
}
.card {
    border: none;
    border-radius: 20px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
}

.card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.card-body {
    padding: 20px;
}
.card-title {
    color: #4b2e2e;
    font-weight: 600;
}

.card-text {
    color: #7a5c46;
}