@font-face {
    font-family: 'Brittany';
    src: url('fonts/Brittany.ttf');
}
@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Thin.ttf');
}
/* NaV */
.nav-premium {
    background: linear-gradient(
        90deg,
        #fffaf1 0%,
        #f7e7c6 50%,
        #d1b586 100%
    );
    border-bottom: 2px solid #d1b586;
    box-shadow:
    0 4px 10px rgba(0,0,0,0.08);
    padding: 14px 30px;
}

.nav-premium .navbar-brand {
    color: #6b4328;
    font-weight: 700;
    text-shadow:
    0 1px 2px rgba(255,255,255,0.20);
}

.nav-premium .nav-link {
    color: #6b4328;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 18px;
    transition: 0.3s ease;
}

.nav-premium .nav-link:hover {
    color: #b8863b;
}
/* FOOTER */
.footer-premium {
    background: linear-gradient(135deg, #c38b2d, #5a3923);
    border-top: 3px solid #c38b2d;
    box-shadow: 0 -4px 15px rgba(0,0,0,0.15);
    border-radius: 25px 25px 0 0;
    padding: 50px 20px;
    color: white;
    text-align: center;
}

.footer-premium h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #f5d7a1;
    text-shadow:
    0 2px 5px rgba(0,0,0,0.30);
}

.footer-premium p {
    font-size: 1.1rem;
    margin-bottom: 10px;
    text-shadow:
    0 1px 3px rgba(0,0,0,0.25);
}
.navbar {
    background-color: #d1b586;
}
.nome-empresa{
    font-size: 50px;
    font-family: 'Brittany', sans-serif;
    color: #fffaf1;
}
footer{
    background-color: #d1b586;
}
body {
    background-color: #fdfaf5;
    font-family: 'Times New Roman', Times, serif;
}
.sobre-section {
    padding: 100px 20px;
}

.sobre-container-custom {
    max-width: 900px;
    margin: auto;
}

.sobre-card {
    background: #ffffff;
    padding: 50px;
    border-radius: 28px;
    box-shadow:
    0 10px 30px rgba(0,0,0,0.06);
    border: 1px solid rgba(0,0,0,0.04);
}

.sobre-tag {
    display: inline-block;
    color: #b8863b;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.sobre-titulo {
    font-size: 3rem;
    font-weight: 700;
    color: #4b2e1f;
    margin-bottom: 30px;
    line-height: 1.2;
}

.sobre-texto {
    font-size: 1.15rem;

    line-height: 2;

    color: #6f6f6f;
}

.sobre-texto p {
    margin-bottom: 28px;
}

.divisor-sobre {
    width: 120px;
    height: 2px;

    background: #d1b586;

    margin: 70px auto;

    border-radius: 20px;
}

.comeco-card {
    background: white;
    padding: 50px;
    border-radius: 28px;
    box-shadow:
    0 10px 30px rgba(0,0,0,0.06);
    border: 1px solid rgba(0,0,0,0.04);
}

.comeco-titulo {
    font-size: 2.2rem;
    font-weight: 700;
    color: #4b2e1f;
    margin-bottom: 25px;
}